<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GIORP_TOTAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <GIORP_TOTAL.Properties.Settings>
            <setting name="SOARegistryIp" serializeAs="String">
                <value>10.113.21.139</value>
            </setting>
            <setting name="SOARegistryPort" serializeAs="String">
                <value>3128</value>
            </setting>
            <setting name="ServicePublishIp" serializeAs="String">
                <value>10.113.21.149</value>
            </setting>
            <setting name="ServicePublishPort" serializeAs="String">
                <value>4567</value>
            </setting>
            <setting name="TeamName" serializeAs="String">
                <value>Phantom Power</value>
            </setting>
            <setting name="ServiceName" serializeAs="String">
                <value>PP</value>
            </setting>
            <setting name="ServiceTagName" serializeAs="String">
                <value>GIORP-TOTAL</value>
            </setting>
            <setting name="ServiceSecurityLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ServiceDescription" serializeAs="String">
                <value>Calculates taxes, net and total amount for certian Canadian province and amount.</value>
            </setting>
            <setting name="ShouldValidateTeam" serializeAs="String">
                <value>False</value>
            </setting>
        </GIORP_TOTAL.Properties.Settings>
    </userSettings>
</configuration>